@import "_media-queries";
@import "_colors";

/* GENERAL */
html,body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
a:hover { text-decoration: none;  }
img { max-width: 100%;  }

#wrapper {
    min-height: 100vh;
    display: flex;
    .left {
        width: 550px;
        min-width: 550px;
        background: #FFF;
        padding: 70px 20px;
        @include respond-down(md) { width: 100%; min-width: inherit; }
        .inner {
            max-width: 418px;
            margin: 0 auto;
            .logo {
                text-align: center;
                margin-bottom: 50px;
            }
            .error {
                text-align: center;
                margin: 30px 0;
                h3 {
                    color: #e52615;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                }
                p {
                    font-size: 13px;
                    font-weight: 500;
                    color: #5e5e5e;
                    line-height: 24px;
                    margin-bottom: 0;
                }
            }
            form {
                legend {
                    font-weight: 700;
                    color: #232884;
                    text-align: center;
                    font-size: 24px;
                }
                .dd { display: none; }
                .inputs {
                    display: flex;
                    input {
                        width: 10%;
                        border: 0;
                        outline: 0;
                        border-bottom: 1px solid #A5A5A5;
                        margin-right: 10px;
                        font-weight: 600;
                        font-size: 20px;
                        text-align: center;
                        &:last-child { margin-right: 0; }
                        &:focus {
                            border-color: #546AEB;
                        }
                    }
                }
                .btns {
                    text-align: center;
                    margin-bottom: 15px;
                    button {
                        background: #3b51d5;
                        color: #fff;
                        padding: 16px 40px;
                        font-size: 15px;
                        font-weight: 600;
                        border-radius: 25px;
                        border: 0;
                        transition: all 0.3s;
                        svg { margin-left: 15px; }
                        &:hover {
                            background: #546aeb;
                        }
                        &.disabled {
                            background: #A5A5A5;
                            cursor: auto;
                        }
                    }
                }
                p.remember {
                    display: inline-block;
                    position: relative;
                    color: #202122;
                    font-weight: 600;
                    text-align: center;
                    margin: 40px 0;
                    margin-left: 45px;
                    &:before {
                        content: '';
                        position: absolute;
                        left: -40px;
                        top: -2px;
                        width: 30px;
                        height: 30px;
                        border-radius: 5px;
                        border: 1px solid #919191;
                    }
                }
                p:not(.remember) {
                    color: #3b51d5;
                    font-size: 17px;
                    text-decoration: underline;
                    text-align: center;
                    margin-bottom: 5px;
                    font-weight: 600;
                }
                h3 {
                    font-weight: 700;
                    color: #232884;
                    text-align: center;
                    font-size: 24px;
                    margin-top: 20px;
                }
                .inputs2 {
                    margin-top: 15px;
                    ul {
                        padding: 0;
                        margin: 0;
                        text-align: center;
                        position: relative;
                        li {
                            display: inline-block;
                            list-style-type: none;
                            width: 14px;
                            height: 14px;
                            border: 1px solid #999999;
                            border-radius: 100%;
                            margin-right: 5px;
                            &.active {
                                background: #3b51d5;
                                border-color: #3b51d5;
                            }
                            &:last-child { margin-right: 0; }
                            &.remove {
                                background: rgba(0,0,0,0.05);
                                color: #747474;
                                border: 0;
                                height: 30px;
                                width: 30px;
                                display: none;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                right: 107px;
                                top: -7px;
                                &:hover {
                                    background: #3b51d5;
                                    border-color: #3b51d5;
                                    color: #FFF;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .numbers {
                    margin: 40px 0;
                    ul {
                        padding: 0;
                        margin: 0;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        margin-bottom: 10px;
                        li {
                            list-style-type: none;
                            display: inline-block;
                            background: #F0F3FF;
                            width: 55px;
                            height: 55px;
                            color: #000;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 700;
                            font-size: 16px;
                            border-radius: 100%;
                            margin-right: 10px;
                            cursor: pointer;
                            &:last-child { margin-right: 0; }
                            &:hover {
                                background: #3b51d5;
                                color: #f0f3ff;
                            }
                        }
                    }
                }
            }
        }
    }
    .right {
        background: url(../images/img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @include respond-down(md) { display: none; }
        .content {
            width: 800px;
            background: #FFF;
            display: flex;
            align-items: center;
            padding: 30px 40px;
            margin-bottom: 100px;
            @media (max-width: 1470px) {
                display: none;
            } 
            .cc {
                flex-grow: 1;
                padding-left: 30px;
                h3 {
                    color: #232884;
                    font-weight: 700;
                    margin-bottom: 10px;
                    font-size: 14px;
                }
                p {
                    margin-bottom: 10px;
                    line-height: 22px;
                    color: #202122;
                    font-size: 14px;
                    font-weight: 500;
                }
                span {
                    color: #546aeb;
                    text-decoration: underline;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
}

#header2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    border-bottom: 8px solid #13BEEF;
    background-color: #1F368B;
}
.confirm-wrapper {
    background: url(../images/confirm.png) center center no-repeat;
    background-position: top;
    width: 946px;
    height: 956px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    .details {
        height: 380px;
        width: 395px;
        background: #EAEAEA;
        position: absolute;
        left: 22px;
        top: 224px;
        border-radius: 8px;
        padding: 20px;
        form {
            .has-error {
                input { border-color: red !important; }
                .error-message { color: red; font-size: 12px; }
            }
            p {
                color: #1F368B;
                font-size: 13px;
            }
            label {
                color: #1F368B;
                font-size: 13px;
            }
            input {
                height: 30px;
                border-radius: 0;
                padding: 10px 5px;
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
            button {
                height: 30px;
                color: #FFF;
                padding: 5px 15px;
                border-radius: 10px;
                border: 0;
                background-color: #1F368B;
                font-size: 13px;
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
        }
    }
}
.login-wrapper {
    background: url(../images/login-bg.png) center center no-repeat;
    background-position: top;
    width: 946px;
    height: 956px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    p.error {
        margin-bottom: 0;
        color: red;
        position: absolute;
        left: 30px;
        top: 690px;
        max-width: 350px;
    }
    form {
        #username {
            position: absolute;
            left: 116px;
            top: 289px;
            background-color: #F8F8F8;
            border: 1px solid #BBBBBB;
            width: 79px;
            height: 20px;
            font-size: 12px;
        }
        #password {
            position: absolute;
            left: 257px;
            top: 462px;
            background-color: #fff;
            border: 1px solid #BBBBBB;
            width: 75px;
            height: 22px;
            text-align: center;
            &:focus, &:active {
                border: 1px solid #BBBBBB !important;
                box-shadow: none;
                outline: 0;
            }
        }
        .reset {
            position: absolute;
            background-color: red;
            left: 273px;
            top: 486px;
            height: 24px;
            width: 52px;
            border-radius: 100px;
            opacity: 0;
            cursor: pointer;
            z-index: 4;
        }
        .numbers {
            span {
                cursor: pointer;
                background-color: transparent;
                height: 29px;
                width: 29px;
                position: absolute;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 4px;
                &:active { border: 2px solid #000; }
                &.active { border: 2px solid #000; }
            }
            span:nth-child(1) {
                top: 443px;
                left: 42px;
            }
            span:nth-child(2) {
                top: 443px;
                left: 78px;
            }
            span:nth-child(3) {
                top: 443px;
                left: 114px;
            }
            span:nth-child(4) {
                top: 443px;
                left: 150px;
            }
            span:nth-child(5) {
                top: 443px;
                left: 186px;
            }
            span:nth-child(6) {
                top: 479px;
                left: 42px;
            }
            span:nth-child(7) {
                top: 479px;
                left: 78px;
            }
            span:nth-child(8) {
                top: 479px;
                left: 114px;
            }
            span:nth-child(9) {
                top: 479px;
                left: 150px;
            }
            span:nth-child(10) {
                top: 479px;
                left: 186px;
            }
        }
        button {
            position: absolute;
            background-color: transparent;
            width: 98px;
            height: 34px;
            border: 0;
            border-radius: 12px;
            z-index: 4;
            cursor: pointer;
            &:focus {
                outline: 0;
                border: 2px solid #000;
            }
            &.btn1 {
                left: 57px;
                top: 605px;
            }
            &.btn2 {
                left: 160px;
                top: 605px;
            }
        }
    }
}

/* HEADER */
#header {
    text-align: center;
    position: relative;
    .top {
        background-color: #1F368B;
        position: absolute;
        left: 0;
        top: 0;
        height: 87px;
        width: 100%;
        z-index: -1;
    }
    .middle {
        background-color: #13BEEF;
        position: absolute;
        left: 0;
        top: 87px;
        height: 8px;
        width: 100%;
        z-index: -1;
    }
    .bottom {
        background: #000;
        background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 56%, #d3d3d3 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(56%, #ffffff), color-stop(100%, #d3d3d3));
        background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 56%, #d3d3d3 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #ffffff 56%, #d3d3d3 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 56%, #d3d3d3 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #ffffff 56%, #d3d3d3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3', GradientType=0 );
        position: absolute;
        left: 0;
        top: 95px;
        height: 40px;
        width: 100%;
        z-index: -1;
    }
}

/* MAIN */
#main {
    margin: 50px 0;
    .containerr {
        width: 1000px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
        background-image: linear-gradient(#FFF, #ddd);
        border-radius: 10px;
    }
    .title {
        margin-bottom: 30px;
        h3 {
            color: #113399;
            font-weight: 700;
            font-size: 30px;
        }
        p {
            color: #113399;
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    .details-box {
        padding: 50px;
        border-radius: 5px;
        form {
            .has-error {
                input {
                    border-color: red;
                }
                .error-message {
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    font-weight: 400;
                }
            }
            label {
                font-size: 16px;
                color: #113399;
                font-weight: 400;
            }
            input {
                background-color: #FFFFFF;
                border: 1px solid #CCCCCC;
                font-family: arial;
                font-size: 14px;
                text-indent: 1px;
                color: #666666;
                max-width: 280px;
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
            button {
                padding: 0;
                border: 0;
                color: #00AFE2;
                font-weight: 600;
                font-size: 16px;
                margin-top: 50px;
                background: transparent;
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
        }
    }
}

/* FOOTER */
#footer {
    text-align: center;
    position: relative;
    .top {
        background-color: #1F368B;
        position: absolute;
        left: 0;
        top: 0;
        height: 139px;
        width: 100%;
        z-index: -1;
    }
    .bottom {
        background-color: #13BEEF;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 8px;
        width: 100%;
        z-index: -1;
    }
}

.loader {
    text-align: center;
    p {
        margin-top: 0;
        margin-bottom: 0;
        color: #333;
        font-size: 13px;
    }
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #13BEEF;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

}



.container.con {
    max-width: 1320px;
}

/* HEADER */
#oheader {
    background-color: #000;
    .top-header {
        overflow: hidden;
        padding: 10px 0;
        ul {
            padding: 0;
            margin: 0;
            text-align: right;
            li {
                display: inline-block;
                color: #FFF;
                font-weight: 800;
                font-size: 14px;
                margin-right: 30px;
                &:last-child { margin-right: 0; }
                img {
                    margin-right: 5px;
                }
            }
        }
    }
    nav {
        align-items: flex-end;
        button {
            color: #FFF;
            padding: 0;
            font-size: 36px;
            &:focus {
                outline: 0;
                box-shadow: none;
                border: 0;
            }
        }
        .navbar-brand {
            margin-right: 30px;
            img { max-width: 50px; }
        }
        #mainmenu {
            ul {
                @include respond-down(sm) {
                    text-align: right;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                li {
                    margin-right: 30px;
                    @include respond-down(sm) { margin-right: 0; }
                    &:last-child { margin-right: 0; }
                    a {
                        color: #FFF;
                        font-weight: 800;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}

/* MAIN */
#omain {
    margin-top: 50px;
    margin-bottom: 150px;
    form {
        .has-error {
            .error-message {
                color: #cd3c14;
                font-weight: 700;
                font-size: 14px;
                margin-bottom: 2px;
            }
            input {
                border-color: #cd3c14;
            }
        }
        .form-group {
            position: relative;
            max-width: 425px;
            .eye {
                position: absolute;
                right: 10px;
                bottom: 8px;
                font-size: 22px;
                cursor: pointer;
                z-index: 999999;
            }
        }
        .zz {
            margin-bottom: 20px;
            display: flex;
            .symbol {
                margin-right: 20px;
            }
            .content {
                flex-grow: 1;
                .email {
                    font-size: 16px;
                    font-weight: 700;
                }
                a {
                    display: inline-block;
                    margin-top: 30px;
                    color: #000;
                    text-decoration: underline;
                }
            }
        }
        legend {
            color: #000;
            font-weight: 700;
            font-size: 32px;
            @include respond-down(sm) {
                border-bottom: 1px solid #DDDDDD;
                font-size: 24px;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
        label {
            color: #000;
            font-size: 16px;
            font-weight: 700;
            overflow: hidden;
            display: block;
            width: 100%;
            max-width: 425px;
            img { float: right; }
        }
        input[type="text"],input[type="password"] {
            border: 2px solid #ccc;
            border-radius: 0;
            max-width: 425px;
            height: 50px;
            color: #000;
            font-weight: 700;
            font-size: 15px;
            &::-webkit-input-placeholder { font-weight: 700; color: #666; font-size: 15px; }
            &:-ms-input-placeholder { font-weight: 700; color: #666; font-size: 15px; }
            &::placeholder { font-weight: 700; color: #666; font-size: 15px; }
            &:focus {
                border-color: #999999;
                box-shadow: none;
                outline: 0;
            }
        }
        .form-check {
            label {
                font-weight: 700;
                font-size: 16px;
            }
        }
        button {
            opacity: 0;
            background-color: #000;
            color: #FFF;
            font-weight: 700;
            border: 2px solid #000;
            height: 50px;
            width: 135px;
            border-radius: 0 !important;
            &:hover {
                background-color: transparent;
                color: #000;
            }
            &:focus {
                border-radius: 0 !important;
            }
            &.btnn {
                background-color: #F16E00;
                border: 2px solid #F16E00;
                &:hover {
                    background-color: #000;
                    color: #FFF;
                    border: 2px solid #000;
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            margin-top: 50px;
            li {
                color: #000;
                font-weight: 700;
                list-style-type: none;
                font-size: 16px;
                margin-bottom: 5px;
            }
        }
    }
}

/* GREY SECTION */
#grey-section {
    background-color: #DCDCDC;
    height: 150px;
    width: 100%;
}

/* FOOTER */
#ofooter {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
    hr {
        background: #666;
    }
    ul.list1 {
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            color: #FFF;
            font-weight: 700;
            font-size: 16px;
            margin-right: 20px;
            &:last-child { margin-right: 0; }
            img { margin-right: 5px; }
        }
    }
    ul.list2 {
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            color: #FFF;
            font-size: 14px;
            margin-right: 20px;
            &:last-child { margin-right: 0; }
        }
    }
}

#oheader2 {
    background-color: #FFF;
    font-weight: 700;
    color: #000;
    font-size: 36px;
    padding: 10px 0;
    img { vertical-align: baseline; }
}

#omain2 {
    margin: 50px 0;
    .logos {
        display: flex;
        align-items: center;
        .left {
            flex-grow: 1;
            font-weight: 700;
            font-size: 16px;
            img { margin-right: 10px; vertical-align: sub; }
        }
    }
    .details-box {
        background-color: #FFF;
        padding: 50px;
        h3 {
            color: #000;
            font-size: 18px;
            font-weight: 700;
            text-align: center;
            > span {
                color: #f16e00;
                font-size: 36px;
            }
        }
        label {
            text-align: right;
            font-weight: 700;
            font-size: 15px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @include respond-down(md) { justify-content: flex-start; }
            span { color: #F16E00; font-size: 12px; margin-left: 5px; }
        }
        input[type="text"],input[type="password"], select {
            border: 2px solid #ccc;
            border-radius: 0;
            max-width: 425px;
            height: 40px;
            color: #000;
            font-weight: 700;
            font-size: 15px;
            padding: 4px;
            &::-webkit-input-placeholder { font-weight: 700; color: #666; font-size: 15px; }
            &:-ms-input-placeholder { font-weight: 700; color: #666; font-size: 15px; }
            &::placeholder { font-weight: 700; color: #666; font-size: 15px; }
            &:focus {
                border-color: #999999;
                box-shadow: none;
                outline: 0;
            }
            &.has-error { border-color: #dc3c14 !important; }
        }
    }
    .btns {
        margin-top: 30px;
        display: flex;
        align-items: center;
        p {
            flex-grow: 1;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 16px;
        }
        button {
            background-color: #FF7900;
            color: #FFF;
            font-weight: 700;
            height: 40px;
            border-radius: 0 !important;
            border: 0;
            padding: 7px 20px;
            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
    }
}



.oloader {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #FF7900;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
}
